.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
}


.header-title {
    display: flex;
    font-size: 1.5rem;
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: space-evenly;
    color: #303030;
}
.cart {
    color: #ffaf33f3;
}
