.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    width: 420px;

}


.header-title {
    display: flex;
    font-size: 1.5rem;
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: space-evenly;
    color: #303030;
}
.cart {
    color: #ffaf33f3;
}
